@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: valentine;
    src: url(font/Valentine\ Cute.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0; /*tirar a margem padrão*/
    font-family: 'Montserrat', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw; /*view port width /// calcula a altura em cima do tamanho total da tela*/
    height: 100vh; /*view port height /// calcula a largura em cima do tamanho total da tela*/
    background: #83000b;
    display: flex; /*organização do display, flex = lado a lado*/
    justify-content: center; /*organizar o conteúdo no eixo x (-) no centro*/
    align-items: center; /*organizar o conteúdo no eixo y (|) no centro*/
}

.left-login{
    width: 50vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*um embaixo do outro*/
   
    }
    
.left-login > img {
    width: 40%;
}

.left-login > h1 {
    color: #ffdddd ;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #9e000d;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #3b03088f; 
}

.card-login > h1 {
    color: #ffdddd;
    font-weight: 700;
    margin: 0;
}
.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #bb0010;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.37);
    outline: none;
    box-sizing: border-box;
}

.text-field > label {
    color: #ffdddd;
    margin-bottom: 10px;
}

.text-field > input::placeholder {
   color: #ffdddd; 
}

.btn-login {
    width: 100%;
    padding: 15px 0px;
    margin: 25px;
    border: none ;
    border-radius: 7px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #4d0006;
    background: #fdc0c0;
    cursor: pointer;
    box-shadow: 0px 10px 30px 12px #bd0a198f ;
    
}

.btn-login > a {
    text-decoration: none;
    color: #83000b;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login > img {
        width: 50%;
    }
    .left-login {
        width: 100%;
        height: auto; 
    }
    .right-login {
        width: 100%;
        height: auto; 
}
}   